body {
    background: #f0f0f0;
    height:auto !important;
}

.error {
    color: red;
}

.wash {
    color: #83848A;
}

.hidden {
    visibility: hidden;
}

.pageHeader {
    text-align: center;
}

md-card {
    background: #fff;
}

md-card h3 {
    margin: 0px;
}

.row {
    margin: 0px;
}

md-card .row .row {
    margin-left: -15px;
}

label {
    padding: 15px 0 10px 0;
}